# This .gitignore file should be placed at the root of your project directory
#

.utmp/
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]in/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
*.log

#visual studio files are irrelevant
/.vs/
